<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="text-align: center;">Stocks</h1>
    <p>Select companies:</p>
    <form method="POST" action="/" taget="_blank">
      <input type="checkbox" id="stock1" value="stock1" name="checkbox" />
      <label for="stock1">Hero Motocorp Ltd.</label><br /><br />
      <input type="checkbox" id="stock2" value="stock2" name="checkbox" />
      <label for="stock2"> Reliance Industries Ltd.</label><br /><br />
      <input type="checkbox" id="stock3" value="stock3" name="checkbox" />
      <label for="stock3"> State Bank of India'</label><br /><br />
      <input type="checkbox" id="stock4" value="stock4" name="checkbox" />
      <label for="stock4"> HDFC Bank Ltd.'</label><br /><br />
      <input type="checkbox" id="stock5" value="stock5" name="checkbox" />
      <label for="stock5"> Tata Consultancy Services Ltd.'</label><br /><br />
      <input type="checkbox" id="stock6" value="stock6" name="checkbox" />
      <label for="stock6"> ICICI Bank Ltd.</label><br /><br />
      <input type="checkbox" id="stock7" value="stock7" name="checkbox" />
      <label for="stock7"> Bajaj Finance Ltd.</label><br /><br />
      <input type="checkbox" id="stock8" value="stock8" name="checkbox" />
      <label for="stock8"> Axis Bank Ltd.</label><br /><br />
      <input type="checkbox" id="stock9" value="stock9" name="checkbox" />
      <label for="stock9"> Britannia Industries Ltd.</label><br /><br />
      <input type="checkbox" id="stock10" value="stock10" name="checkbox" />
      <label for="stock10"> Asian Paints Ltd.</label><br /><br />
      <input type="checkbox" id="stock11" value="stock11" name="checkbox" />
      <label for="stock11"> Infosys Ltd.</label><br /><br />
      <input type="checkbox" id="stock12" value="stock12" name="checkbox" />
      <label for="stock12"> Bharti Airtel Ltd.</label><br /><br />
      <input type="checkbox" id="stock13" value="stock13" name="checkbox" />
      <label for="stock13"> Hindustan Unilever Ltd.</label><br /><br />
      <input type="checkbox" id="stock14" value="stock14" name="checkbox" />
      <label for="stock14"> yahoo</label><br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
